<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}Gestor{% endblock %}</title>
    {% block styles %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <header class="app-header">
        <div class="header-inner">
            <div class="brand">Qualquer 1234</div>
            <nav class="topnav">
                <a href="{{ url_for('main.index') }}">Dashboard</a>
                <a href="{{ url_for('projects.list_projects') }}">Projetos</a>
            </nav>
        </div>
    </header>

    <main class="page">
        <!-- ALGUMA COISA QUALQUER -->



        {% block content %}

        {% endblock %}


        <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
        <script>
            new window.VLibras.Widget('https://vlibras.gov.br/app');
        </script>

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
    </main>

    <script src="{{ url_for('static', filename='javascript/dashboard.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/projetos.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/forms.js') }}"></script>

{% include 'includes/footer.html' %}

</body>

</html>